{% extends 'index.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/artistpage.css' %}">
{% endblock %}

{% block main %}
<section class="artistdetail">
    <!-- artistdetails goes here -->
    <div class="container">
        <div class="artist-img">
            {% if artist.user.image %}
            <img src="{{artist.user.image.url}}" alt="ArtistImage">
            {% else %}
            <img src="{% static 'images/avator.png' %}" alt="ArtistImage">
            {% endif %}
        </div>
        <div class="container flex-col">
            <p>Name : {{artist.user.firstname}} {{artist.user.lastname}}</p>
            <p>Username : {{artist.user.username}}</p>
            <p>Followers : <span id="followerscount">{{artist.followers.count}}</span></p>
            <p>Country : {{artist.user.country.name}}</p>

            {% if request.user.is_authenticated %}
            <div class="action-btn">
                <input type="hidden" name="csrftoken" value="{{ csrf_token }}">

                {% if request.user.customuser in artist.followers.all %}
                <button type="button" id="followunfollowbtn" data-artistid="{{ artist.id }}" data-action="unfollow">UnFollow</button>
                {% else %}
                <button type="button" id="followunfollowbtn" data-artistid="{{ artist.id }}" data-action="follow">Follow</button>
                {% endif %}
                
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section>
    <!-- artist songs,albums and more goes here -->
     <div class="artistsection">
        {% if albums %}
        <div class="artistalbums">
            <h4>Latest Albums</h4>
            <div class="tiles scrollbar">
                {% for album in albums %}
                <a href="{% url 'musicapp:albumpage' album.id %}">
                    <div class="tile">
                       <img src="{{album.image.url}}" alt="song img">
                       <span class="songname">{{album.name}}</span>
                    </div>
                 </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        {% if songs %}
        <div class="artistsongs">
            <h4>Latest Songs</h4>
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col" colspan="2">Song Name</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr>
                            <td>{{song.name}}</td>
                            <td><a href="{% url 'musicapp:songpage' song.id %}">play</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

</section>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/followartist.js' %}"></script>
{% endblock %}