main section.section-container{
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 1em;
    width: calc(100% - 1em);
    padding-bottom: 1em;
}

main section.section-container .title{
    margin-bottom: 0.5em;
}

main section.section-container .title-bar{
    display: flex;
    justify-content: space-between;
}

main section.section-container .title-bar button{
    margin-right: 1em;
}

main section.section-container .tiles{
    display: flex;
    flex-wrap: wrap;
    gap: 1em 0;
}

main section.section-container .tiles a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 17px;
    font-weight: bold;
}

main section.section-container .tiles .tile{
    display: flex;
    flex-direction: column;
    max-width: 6em;
    margin-right: 1em;
}

main section.section-container .tiles .tile img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-bottom: 0.1em;
}

main section.section-container .tiles .tile span{
    font-size: 0.8em;
}

main section.section-container .title-bar button{
    background-color: var(--primary-background);
    color: var(--primary-text);
    cursor: pointer;
    border: none;
    border-radius: 2em;
    height: max-content;
}

main section.section-container .title-bar button:hover{
    background-color: var(--hover-background);
}


